Package: ${artifactId}
Version: ${project.version}
Section: mail
Priority: optional
Architecture: all
Depends: java6-runtime
Maintainer: Apache James Team <server-dev@james.apache.org>
Description: Hi-performance, modular and extensible Java based email server.
  The Apache James Project delivers a rich set of open source modules and libraries,
 written in Java, related to Internet mail communication which build into an advanced
 enterprise mail server.
 James Server provides a mailet container: the email processing is delegated to 
 independent, extensible, pluggable agents specified by the Mailet API. Any function 
 which is not already available (from James or from a third party) can be developed.
